<div class="container">
  <h1> Showing Recent Bird Sightings Logged Near <%=@user_location%> </h2>

  <p><a href="/">Go home!</a></p>

  <% @nearby_birds_array.each do |logged_bird|%>
    <div class="box">
      <h3><%= logged_bird.fetch("comName")%> spotted at <%= logged_bird.fetch("locName")%><h4>
      <p>Date/Time: <%= logged_bird.fetch("obsDt")%></p> 
      <%if logged_bird["howMany"]%>
        <p>Number of Birds: <%= logged_bird.fetch("howMany").to_s%></p>
      <%else%>
        <p>Not reported</p>
      <%end%>
      <%pp logged_bird.keys%>
    </div>
  <%end%>
</div>
